p {
    color: red;
    background-color: yellow;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 0 2px black;
    text-transform: uppercase;
}