@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-dark: rgb(9, 48, 56);
    --secondary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/large-triangles.svg);
    font-family: 'Open Sans', sans-serif;
}

.menu-lateral {
    background-color: var(--secondary-color);
    box-shadow: 4px 6px 15px -9px #000000;
    max-width: 250px;
    height: 100vh;
}

.menu {
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    min-height: 90%;
    display: flex;
}