* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
Dysplay flex habilita usar outros elementos dentro do css
como a direção, alinhamento etc..

flex-direction define quem vai ser o eixo principal, temos dois
justfy e aling

justfy sendo o eixo horizontal
aling sendo o eixo vertical
*/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    height: 500px;
}

.flex-item {
    width: 100%;
    color: #fff;
    background-color: red;
    margin: 10px;
}