* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.menu {
    height: 5rem;
    width: 100vw;
    background-color: red;
    margin-left: 10rem;
    margin-right: 10rem;
}

.menu-content ul li {
    font-size: 2rem;
}