<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crafting Sword</title>
  <link rel="stylesheet" href="./head.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="background">
    <div class="menu-bar">
      <div class="menu">
        <div class="menu-content">
          <h1>
            <a href="#">Crafting Sword</a>
          </h1>
          <nav>
            <ul>
              <li><a href="#">Loja</a></li>
              <li><a href="#">Fórum</a></li>
              <li><a href="#">Discord</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</body>
</html>