* {
    margin: 0;
    padding: 0;
}

.child-1, .child-2 {
    width: 600px;
    height: 600px;
    background-color: rgb(11, 185, 20);
    position: static;
    margin: 10px;
}

.child-2 {
    position: absolute;
    /* ABILITA EU USAR TOP LEFT ETC... */
    background-color: red;
    z-index: 1;
    /* PROPRIEDADE PARA DEFINIR QUAL ELEMENTO FICA POR CIMA DO OUTRO */
}

.child-1 {
    position: absolute;
    /* ABILITA EU USAR TOP LEFT ETC... */
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -300px;
    z-index: 2;
}